.video-wrapper{
    display: inline-block;
    width: 210px;
    margin-right: 12px;
    padding: 10px;
    margin-top: 100px;
    display: inline-block;
}

.img-thumb{
    width : 70%;
    height : 118px;
    /* overflow: hidden; */
    position: relative;
}

.title{
    font-size: 20px;
    font-family: Calibri;
    margin-left: 10px;
    font-weight: bold;
}

.desc{
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top : -18px;
}